
/*fonts colours*/
.c-red{color: #f00;}
.c-red{color: #0f0;}
.c-red{color: #00f;}
.c-red{color: #fff;}
.c-red{color: #000;}

/*bg colours*/
.bg-red{color: #f00;}
.bg-red{color: #0f0;}
.bg-red{color: #00f;}
.bg-red{color: #fff;}
.bg-red{color: #000;}